.container {
  color: var(--secondary-color);
  background: var(--Primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  .contnet {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    flex-grow: 1;
    height: 76vh;
    overflow: auto;

    h1 {
      font-size: var(--max-Font-Size);
      text-align: center;
      span {
        font-size: var(--Large-Font-Size);
        font-weight: 500;
        span {
          color: rgb(255, 83, 83);
          font-weight: bolder;
          font-size: larger;
        }
      }
    }
  }
}


@media (max-width: 900px) { 
    .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
}